@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.bold {
  font-weight: 700;
}

.flex {
  display: flex;
  gap: 0.75rem;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.app {
  width: 100%;
  height: 100%;
  display: grid;
}
@media (min-width: 1440px) {
  .app {
    grid-template-columns: 1fr 1fr;
  }
}
.app__main {
  display: grid;
}
.app__main .header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1440px) {
  .app__main .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.app__results {
  background: hsl(202, 55%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  position: relative;
  min-height: 450px;

}

@media (min-width: 1440px) {
.app__results {
  background: hsl(202, 55%, 16%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  position: relative;
  min-height: 450px;
  border-bottom-left-radius:50px;

}
  
}





.app__results .results__empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
  transform: translate(-50%, -300%);
  opacity: 0;
  animation: showUp 500ms ease-in forwards;
}
.app__results__calculations h2 {
  margin-bottom: 1rem;
}
.app__results__calculations p {
  color: hsl(200, 26%, 54%);
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.app__results__calculations__item {
  border-radius: 10px;
  border-top: 3px solid hsl(61, 70%, 52%);
  background: hsl(202, 56%, 12%);
  padding: 1rem;
  opacity: 0;
  animation: slideUp 500ms ease-in forwards;
}
.app__results__calculations__item div {
  padding: 1rem 0;
}
.app__results__calculations__item div:last-child {
  border-top: 0.5px solid hsl(200, 24%, 40%);
}
.app__results__calculations__item h1 {
  color: hsl(61, 70%, 52%);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -300%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.form {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
}
.form .form__group {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}
.form .form__group .wrapper, .form .form__group .right__wrapper.input__rates, .form .form__group .right__wrapper.input__years, .form .form__group .left__wrapper {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.form .form__group .left__wrapper:before {
  position: absolute;
  padding: 0 0.25rem;
  content: "$";
  display: grid;
  color: hsl(200, 24%, 40%);
  place-content: center;
  top: 0;
  left: 0;
  height: 100%;
  background: #dcedf7;
  width: 3rem;
  z-index: 5;
}
.form .form__group .right__wrapper.input__years:before {
  position: absolute;
  content: "years";
  display: grid;
  color: hsl(200, 24%, 40%);
  padding: 0 0.25rem;
  place-content: center;
  top: 0;
  right: 0;
  height: 100%;
  background: #dcedf7;
  width: 3rem;
  z-index: 5;
}
.form .form__group .right__wrapper.input__rates:before {
  position: absolute;
  content: "%";
  display: grid;
  color: hsl(200, 24%, 40%);
  padding: 0 0.25rem;
  place-content: center;
  top: 0;
  right: 0;
  height: 100%;
  background: #dcedf7;
  width: 3rem;
  z-index: 5;
}
.form .group__items {
  display: grid;
  gap: 1rem;
}
@media (min-width: 1440px) {
  .form .group__items {
    grid-template-columns: 1fr 1fr;
  }
}
.form .input {
  padding: 0.5rem;
  width: 100%;
  border: 1.5px solid hsl(203, 41%, 72%);
  outline: none;
  background: transparent;
}
.form .input:focus {
  border: 1.5px solid hsl(61, 70%, 52%);
}
.form .input__amount {
  padding-left: 3.5rem;
}
.form .radio__group {
  display: grid;
  gap: 1.5rem;
}
.form .radio__group > input[type=radio] {
  display: none;
}
.form .radio__group .radio__wrapper {
  background: hsl(61, 70%, 52%);
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.form .radio__group .radio-label {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid hsl(203, 41%, 72%);
  color: hsl(202, 55%, 16%);
  transition: all ease-in-out;
  border-radius: 10px;
}
.form .radio__group .radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid hsl(200, 24%, 40%);
  border-radius: 50%;
  margin-right: 10px;
  padding: 1px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background: transparent;
  position: relative;
}
.form .radio__group .radio-circle::before {
  content: "";
  width: 60%;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  position: absolute;
}
.form .radio__group .radio-text {
  font-size: 1rem;
  color: hsl(200, 24%, 40%);
  transition: color 0.3s ease-in-out;
}
.form .radio__group input[type=radio]:checked + .radio-label {
  background-color: #fafae0;
  border: 1px solid hsl(61, 70%, 52%);
}
.form .radio__group input[type=radio]:hover + .radio-label {
  border: 1px solid hsl(61, 70%, 52%);
}
.form .radio__group input[type=radio]:checked + .radio-label .radio-circle {
  border-color: hsl(61, 70%, 52%);
  background-color: transparent;
}
.form .radio__group input[type=radio]:checked + .radio-label .radio-circle:before {
  background: hsl(61, 70%, 52%);
}
.form .radio__group input[type=radio]:checked + .radio-label .radio-text {
  color: hsl(202, 55%, 16%);
}

.form__group__new {
  margin-top: 0.5rem;
  display: flex;
  border-radius: 10px;
}
.form__group__new.row__reverse {
  flex-direction: row-reverse;
}
.form__group__new .text__label {
  background: #dcedf7;
  padding: 0.75rem 1rem;
  border: 1.5px solid hsl(203, 41%, 72%);
  border-right: 1px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 300ms ease-in;
  color: hsl(200, 24%, 40%);
}
.form__group__new .text__label.right {
  border: 1.5px solid hsl(203, 41%, 72%);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid transparent;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.form__group__new input[type=text] {
  outline: none;
  padding: 0.75rem;
  flex: 1;
  border: 1.5px solid hsl(200, 26%, 54%);
  border-left: 1px solid transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 300ms ease-in;
}
.form__group__new input[type=text].right {
  border: 1.5px solid hsl(200, 26%, 54%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form__group__new input[type=text]:focus {
  border: 1px solid hsl(61, 70%, 52%);
}
.form__group__new input[type=text].error {
  border: 1.5px solid hsl(4, 69%, 50%);
}
.form__group__new .text__label.active {
  border: 1.5px solid hsl(61, 70%, 52%);
  background: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
}
.form__group__new .text__label.error {
  border: 1.5px solid hsl(4, 69%, 50%);
  color: hsl(0, 0%, 100%);
  position: relative;
  overflow: hidden;
  z-index: 5;
  background: transparent;
}
.form__group__new .text__label.error::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: hsl(4, 69%, 50%);
  z-index: -5;
  opacity: 0;
  animation: slideIn 500ms forwards ease-in-out;
}
@keyframes slideIn {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.group__items {
  display: flex;
}
.group__item, .form__group__new, .radio__group {
  position: relative;
}
.group__item .error__wrapper, .form__group__new .error__wrapper, .radio__group .error__wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -105%;
  height: 100%;
  color: hsl(4, 69%, 50%);
  opacity: 0;
  transform: translateY(-25%);
  font-size: 0.75rem;
  animation: dropIn 500ms ease-in forwards;
  transition: all 500ms;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #dcedf7;
}

main {
  min-height: 100vh;
}
@media (min-width: 1440px) {
  main {
    display: grid;
    place-content: center;
  }
}

.button {
  padding: 0.75rem 1.5rem;
  font-family: inherit;
  border: none;
  background: transparent;
  border-radius: 20px;
  position: relative;
  display: flex;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid transparent;
  transition: all 400ms ease-in;
}
@media (min-width: 768px) {
  .button {
    justify-self: flex-start;
  }
}
.button--primary {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
  overflow: hidden;
  z-index: 10;
  letter-spacing: 1px;
}
.button--primary:before {
  content: "";
  position: absolute;
  top: 0;
  height: 200%;
  width: 200%;
  left: 0;
  transform: translateX(-100%);
  background-color: hsl(61, 70%, 52%);
  transition: all 500ms ease-in;
  z-index: -1;
}

.button--primary:hover {
  background-color: transparent;
}
.button--primary:hover:before {
  transform: translateX(0%);
  background-color: #fafae0;
}

.container {
  max-width: 60em;
  background: hsl(0, 0%, 100%);
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    border-radius: 16px;
    overflow: hidden;
    margin: 2rem;
  }
}

.paragraphs {
  font-size: 0.75rem;
  color: hsl(200, 26%, 54%);
}/*# sourceMappingURL=style.css.map */
